/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('../fonts/lato-v23-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
         url('../fonts/lato-v23-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
         url('../fonts/lato-v23-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v23-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

html {
    box-sizing: border-box;
}

*, *::before, *::after{
  box-sizing: inherit;
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;;
  font-weight: normal;
  color:#102746;
}

img {
  max-width: 100%;
  height: auto;
}

.item {
  width: 200px;
  height: 100px;
  background-color: green;
  padding: 20px;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
    padding: 0 15px;
 }

.wrapper-full {
   max-width: 1262px;
   margin: 0 auto;
   padding: 0 15px;
}

.section-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  color: #102746;
  position: relative;
  padding-bottom: 10px;
}

.section-title::after {
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background: #006DFE;
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Header styles starts */

  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    transition: 0.5s;
    padding-bottom: 20px;
    padding-top: 56px;
  }

  .header_active {
    padding-top: 16px;
    background: rgba(14, 29, 40, 0.85);
  }

  .header__wrapper {
    
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
  }

  .header__list {
    display: flex;
    flex-wrap: wrap;
  }

  .header__item {
    margin-right: 82px;
  }

  .header__item:last-child {
    margin-right: 0;
  }

  .header__link {
    font-size: 18px;
    line-height: 24px;
    color: white;
    text-decoration: none;
  }

  .header__link:hover, .header__link:focus, .header__link:active {
    opacity: 0.75;
  }

.header__burger {
  display: none;
  position: relative;
  width: 40px;
  height: 28px;
}

.burger__line {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ffffff;
  box-shadow: 0 0 5px 0 #000;
  left: 0;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}
  /* Header styles end */

  /* Intro styles starts */

.intro {
    min-height: 100vh;
    background: url(..//img/intro-bg.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
    
}

.intro__title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: white;
    margin-bottom: 22px;
}

.intro__subtitle {
    max-width: 546px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: white;
    margin-bottom: 59px;
}

.search-form__info {
    display: flex;
    flex-wrap: wrap;
}

.search-form__field {
    width: 297px;
    background: transparent url(../img/svg/circle-ico.svg) no-repeat left 6px;
    background-size: 20px;
    border: 0;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}   

.search-form__field::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.search-form__submit {
    padding: 15px 39px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: white;
    background: #1B7DFF;
    border: none;
}

.search-form__submit:hover, .search-form__submit:active, .search-form__submit:focus {
    background: #0056c9;
}
  /* Intro styles end */

  /* Benefits styles starts */
.benefits {
  margin-bottom: 131px;
}

.benefits__wrap {
    max-width: 1262px;
    background-color: white;
    margin: 0 auto;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}

.benefits__title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: white;

}

.benefits__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px; 
}

.benefits__card {
  grid-column: span 1;
  margin-bottom: 112px;
  margin-top: 32px;
}

.benefits__card-pic {
  margin-bottom: 37px;
  max-width: 66px;
}

.benefits__card-thumb {
  display: block;
}

.benefits__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 26px;
}

.benefits__card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}

.benefits__card-more {
  display: inline-block;
  padding-right: 59px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #006DFE;
  background: url(../img/svg/arrow-right-icon.svg) no-repeat 95% center;
  transition: 0.2s all;
}

.benefits__card-more:hover, .benefits__card-more:focus{
  background: url(../img/svg/arrow-right-icon.svg) no-repeat right center;
}
  /* benefits style end  */

/* places style start */
.places {
  margin-bottom: 131px;
}

.places__title {
  margin-right: 10px;
}

.places__caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places__view-all {
  padding-right: 59px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;
  background: url(../img/svg/arrow-right-icon.svg) no-repeat right center;
}

.places__view-all:hover, .places__view-all:focus{
  opacity: 0.65;
}

.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

.places__card-size-lg {
  grid-column: span 3;
}

.places__card-size-sm {
  grid-column: span 2;
}

.places__card {
  position: relative;
  overflow: hidden;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.places__card:hover .places__card-pic{
  transform: scale(1.1);
  
}

.places__card::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;

}

.places__card-pic {
  object-fit: cover;
  width: 100%;
  transition: 0.5s all;
}

.places__card-pic_size_lg {
  height: 354px;
}

.places__card-pic_size_sm {
  height: 283px;
}

.places__card-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: #ffffff;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
}

.places__card-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
/* places style end */


/*  tours start */

.tours {
  margin-bottom: 139px;
}

.tours__tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 108px;
}

.tours__tour_bottom_gap {
  margin-bottom: 77px;
}

.tours__tour_right {
  margin-right: 43px;
}

.tours__tour_left {
  margin-left: 43px;
}

.tour__info {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  
}

.tour__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.tour__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
}

.tour__more {
  display: inline-block;
  width: fit-content;
  padding-right: 59px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #006DFE;
  background: url(../img/svg/arrow-right-icon.svg) no-repeat 100% center;
}

.tour__more:hover, .tour__more:focus {
  opacity: 0.65;
}

.tour__pic {
  width: 100%;
}
/*  tours end */

/* top start */

.top__title {
  margin-bottom: 58px;
}

.top {
  margin-bottom: 86px;
}

.top__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 57px;
}

.top__card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start ;

}

.top__card-pic {
  position: relative;
  margin-bottom: 45px;
}

.top__card-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px 25px;
  background: rgba(21, 24, 36, 0.6);
  color: #ffffff;
}

.top__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto 0 0;
}

.top__card-likes {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-right: 20px;
  margin-right: 14px;
  background: url(../img/svg/icon-likes.svg) no-repeat right;
}

.top__card-comments {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  padding-right: 23px;
  background: url(../img/svg/icon-comments.svg) no-repeat right;
}

.top__card-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #102746;
  margin-bottom: 31px;
}

.top__card-more {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: #006DFE;
  padding: 12px 19px;
  text-decoration: none;
  width: fit-content;
  margin: auto 0 0 0;
}

.top__card-more:hover, .top__card-more:active, .top__card-more:focus {
  background: #0056c9;
}

/* top end */


/* videos start */

.videos__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.video__item {
  padding-top: 56.25%;
}

.video__element {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* videos end */

/* footer start */

.footer__wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.footer__item {
  display: flex;
  flex-wrap: wrap;
  background: #0E1D28;
  padding: 119px 0;
}
.footer__logo {
  display: flex;
  justify-content: center;
  width: 50%;
}

.footer__logo-pic {
  width: 170px;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 50%;
  
}

.footer__menu-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.footer__menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  text-decoration: none;
}
/* footer end */



/* media start */
@media screen and (max-width: 960px) {
  .intro {
    min-height: 80vh;
  }

  .search-form__field {
    margin-bottom: 28px;
  }

  .benefits {
    margin-bottom: 55px;
  }

  .benefits__wrap {
    box-shadow: none;
  }

  .benefits__cards {
    grid-column-gap: 10px;
    padding: 0 16px;
  }

  .benefits__card {
    margin-bottom: 32px;
  }
  
  .benefits__title {
    padding: 30px 16px;
  }

  .places__card-size-sm {
    grid-column: span 6;
  }

  .places__card-title {
    font-size: 30px;
  }

  .tours__tour {
    gap: 0 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .top {
    margin-bottom: 20px;
  }

  .top__title {
    margin-bottom: 36px;
  }

  .top__cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .top__card {
    margin-bottom: 25px;
  }

  .top__card-pic {
    margin-bottom: 15px;
    margin-top: 0px;
  }

  .top__card-description {
    margin-bottom: 12px;
  }

  .footer__item {
    padding: 36px 0;
  }

}




@media screen and (max-width: 767px) {

  .header {
    padding-top: 20px;
  }

  .intro {
    padding-top: 100px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 40px;
  }

  .intro__subtitle {
    font-size: 14px;
    text-shadow: 0 0 1px #000000;
  }

  .header__burger {
    display: block;
  }

  .header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: 0.2s all linear;
  }

  .header__nav-active {
    transform: translateX(0);
  }

  .header__item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header__item:last-child {
    margin-bottom: 0;
  }

  .header__link {
    font-size: 42px;
    line-height: 48px;
  }

  .header__nav-close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 11;
  }

  .header__nav-close-line {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    
  }

  .header__nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .header__nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

  .search-form__field {
    margin-right: 0;
  }

  .benefits__card {
    grid-column: span 3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }

  .benefits__card-pic {
    margin-bottom: 10px;
  }

  .benefits__card-title {
    margin-bottom: 0;
  }

  .benefits__card-description {
    margin-bottom: 16px;
  }

  .tours {
    margin-bottom: 55px;
  }

  .tours__tour {
    grid-template-columns: repeat(1, 1fr);
  }

  .tours__tour_bottom_gap {
    margin-bottom: 40px;
  }

  .tour__description {
    margin-top: 20px;
  }

  .tour__more {
    margin: 20px 0;
  }

  .top__cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .tour__pic-mob-first {
    grid-row-start: -1;
  }

  .tour__thumb {
    width: 100%;
  }

  .top__card-thumb {
    width: 100%;
  }

  .footer__item {
    flex-direction: column;
  }

  .footer__logo {
    width: 100%;
  }

  .footer__nav {
    width: 100%;
  }

  .footer__logo-pic {
    width: 100px;
    margin-bottom: 20px;
  }

  .section-title::after {
    width: 70px;
  }

  .places__title {
    margin-bottom: 10px;
  }





}

/* media end */


/* mobile media start */

@media 

/* mobile media end */